<header>
    <a href="/">
    <h1> A place to post</h1>
    </a>
    <nav>
        <ol>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/content/new">Create Post</a>
            </li>
        </ol>
    </nav>
</header>